@use 'base/mixins' as m;
@use 'base/variables' as v;

.tiendas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    h3{
        color: v.$secundario;
        margin: 2rem 0 0 0;
    }

    &__grid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 2rem;
    }

    &__enlaces{
        transition: all .3s;
    }
    
    &__enlaces:hover{
        &:hover{
        transform: scale(1.1);
        }
    }
}